 * {margin:0; padding:0;}
 body, div, span, div.paragraph, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {border:0;}
 body, div, span, p, a, img, ul, ol, li, caption, table, thead, tbody, tfoot, tr, th, td, form, fieldset, legend, label, dl, dt, dd, blockquote, applet, object, h1, h2, h3, h4, h5 {border:0;}
body {font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300; }
 h1, h2, h3, h4, h5, h6 {margin:15px 0 10px 0;}
 h1 {font-size:140%;}
 h2 {margin:5px 0; font-size:120%;}
 h3 {font-size:110%;}
 h4, h5 {font-size:100%;}
 table, ul, ol, dl, fieldset {margin:15px 0;}
 table {border-collapse:collapse; border-spacing:0; font-size:100%;}
 th {text-align:center; font-weight:bold;}
 th, td {padding:3px 7px;}
 ul, ol {margin-left:30px;}
 ul ul, ol ol {margin:0; margin-left:20px;}
 ol {list-style-type:decimal;}
 li {display:list-item;}
 dt {font-weight:bold;}
 dd {margin-left:30px;}
